@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2;
}

span 


.audio-player-container {
  background: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.controls button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.controls button:hover {
  background: #0056b3;
}

.controls input[type="range"] {
  width: 200px;
}

.info {
  margin-bottom: 15px;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.volume-control input[type="range"] {
  width: 150px;
}
